@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


/**
 * Variables and other options
 */
:root {
    --background-color: #323232;

    --font-family: 'Lobster Two', cursive;
    --font-size: 1.5vw;
    --font-color: #101010;
    --font-shadow: rgba(255, 255, 255, .075);

    --bike-size: 45vw;
    --bike-size-wheel: calc(var(--bike-size) / 4);
    --bike-size-tire: calc(var(--bike-size) / 45);
    --bike-size-spoke: calc(var(--bike-size) / 200);
    --bike-wheel-color: #212121;
    --bike-spoke-color: #828282;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    text-shadow: .2vw .2vw .5vw var(--font-shadow);
    user-select: none;
}


/**
 * Bicycle wrapper
 */
#bicycle {
    position: relative;
    width: var(--bike-size);
    height: calc(var(--bike-size) / 1.5);
}

#bicycle > * {
    position: absolute;
}


/**
 * Bicycle part:
 * Wheel
 */
.wheel {
    top: calc(80% - var(--bike-size-wheel));
    left: calc(35% - var(--bike-size-wheel));
    width: var(--bike-size-wheel);
    height: var(--bike-size-wheel);
    border: var(--bike-size-tire) solid var(--bike-wheel-color);
    border-radius: var(--bike-size-wheel);

    animation: rotate 1.75s linear infinite both;
}

.wheel-rear {
    right: calc(35% - var(--bike-size-wheel));
    left: auto;
}

.wheel .spokes,
.wheel .spokes:before,
.wheel .spokes:after {
    background-color: var(--bike-spoke-color);
    position: absolute;
    top: 0;
    left: calc(50% - calc(var(--bike-size-spoke) / 2));
    content: ' ';
    width: var(--bike-size-spoke);
    height: 100%;
}

.wheel .spokes:nth-child(2) {
    transform: rotate(-90deg);
}

.wheel .spokes:before {
    transform: rotate(-30deg);
}

.wheel .spokes:after {
    transform: rotate(-60deg);
}

