@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


/**
 * Variables and other options
 */
:root {
    --background-color: #323232;

    --font-family: 'Lobster Two', cursive;
    --font-size: 1.5vw;
    --font-color: #101010;
    --font-shadow: rgba(255, 255, 255, .075);

    --bike-size: 45vw;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    text-shadow: .2vw .2vw .5vw var(--font-shadow);
    user-select: none;
}


/**
 * Bicycle wrapper
 */
#bicycle {
    position: relative;
    width: var(--bike-size);
    height: calc(var(--bike-size) / 1.5);
}

#bicycle > * {
    position: absolute;
}

